<a href="https://colab.research.google.com/github/giakhangle/phantichdulieu/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1:

In [4]:
arr = [12,-4,7,9]
type(arr)

list

In [6]:
print(arr)
arr[0]

[12, -4, 7, 9]

12

In [7]:
import pandas as pd #alias
s = pd.Series(arr)
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [8]:
type(s)

pandas.core.series.Series

Example 2:

In [9]:
import pandas as pd
s2 = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s2)

a    12
b    -4
c     7
d     9
dtype: int64

In [10]:
s2.values

array([12, -4,  7,  9])

In [11]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Example 3:

In [19]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
type(data)

dict

In [20]:
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [21]:
type(frame.color)

pandas.core.series.Series

In [22]:
frame.color

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [23]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [24]:
type(data)

dict

Example 4:

In [25]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7